:root {
  --page-11-color: #472a17;
  --page-1-color: #0f4385;
  --page-2-color: #cc9863;
  --page-4-color: #730505;
  --page-5-color: #ffa500;
  --page-3-color: #006208;
  --contact-color: #0f4385;
  --animate-speed: 1.5s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* page colors */
#page-1 {
  background: var(--page-1-color);
  padding: 20px 200px;
}
#page-11 {
  background: var(--page-11-color);
}
#page-2 {
  background: var(--page-2-color);
}
#page-3 {
  background: var(--page-3-color);
}
#page-4 {
  background: var(--page-4-color);
}
#page-5 {
  background: var(--page-5-color);
}
#contact-page {
  background: var(--contact-color);
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
}
.page h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0.6rem;
  color: #333;
}
.page p {
  font-size: 1.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
#page-1 .btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: #f4f4f4;
  color: #333;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
  opacity: 0.7;
}
#page-1 .btn:hover {
  opacity: 1;
}
.btn {
  display: inline-block;
  padding: 0.7rem 1.7rem;
  background: #f4f4f4;
  color: #333;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
  margin-right: 0.5rem;
  margin-top: 1.4rem;
  opacity: 0.7;
}

.btn:hover {
  opacity: 1;
}
#page-1 img {
  margin-bottom: 2rem;
  animation: appear 1.5s ease-in-out forwards;
  transform: scale(0);
}
#page-1 .btn,
#page-1 .text {
  animation: appear 1.5s ease-in-out forwards;
  transform: scale(0);
}
@keyframes appear {
  to {
    transform: scale(1);
  }
}
/* animations */
#page-1 h1 {
  transform: scale(0);
  animation: appear var(--animate-speed) forwards ease-in-out;
  font-family: "New Tegomin", serif;
  color: lightgray;
}

.page .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.page .img {
  width: 75vw;
  box-shadow: 3px 5px 15px #333;
}
.page .content:hover {
  opacity: 0.94;
}
#page-4 .img {
  box-shadow: 3px 5px 15px #222;
}
/* page 6 contact */
#contact-page {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: left;
}
#contact-page .contact-form {
  height: auto;
  width: 70%;
  padding: 0.5rem;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
#contact-page .contact-form .form-grup {
  padding: 0.5rem;
}
#contact-page .contact-form label {
  display: inline-block;
}
#contact-page .contact-form #name,
#contact-page .contact-form #email,
#contact-page .contact-form #text {
  width: 100%;
  padding: 0.5rem;
  margin: 0.2rem 0;
  border-radius: 10px;
  border-radius: 6px;
  border: 1px solid #333;
}
#contact-page .contact-form textarea {
  width: 100%;
  height: 3rem;
  margin: 0.2rem 0;
  border-radius: 6px;
  border: 1px solid #333;
}
#contact-page h1 {
  font-family: "New Tegomin", serif;
  border-bottom: 2px solid #f4f4f4;
  color: #f4f4f4;
}

.btn-contact {
  padding: 0.6rem;
  display: inline-block;
  width: 20%;
  align-self: center;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  color: white;
  background: #0f4385;
  border: 2px solid #011761;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-contact:hover {
  background: #011741;
  cursor: pointer;
}
@media (max-width: 900px) {
  #page-1 {
    padding: 20px;
  }
}
@media (max-width: 793px) {
  #page-1 p {
    font-size: 0.9rem;
  }
  #page-1 h1 {
    font-size: 2rem;
  }
  .features p {
    margin-right: 0.4rem;
  }
}
@media (max-width: 430px) {
  .features {
    padding: 0.4rem;
  }
  .features p {
    border-radius: 10px;
    margin: 0.3rem;
  }
  #page-1 .btn {
    margin-top: 10px;
    padding: 0.5rem;
  }
  #page-1 .text {
    margin: 0.2rem;
  }
  #page-1 img {
    margin: 0;
  }
  body {
    overflow-y: scroll;
  }
  #page-4 {
    padding: 0.5rem;
  }
}
@media (max-width: 400px) and (max-height: 700px) {
  #page-1 img {
    height: 100px;
  }
  #page-1 h1 {
    font-size: 1.5rem;
  }

  #page-1 .btn {
    margin: 0;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  .features {
    padding: 10px;
    height: 20vh;
  }
}

@media (max-width: 600px) {
  #page-11 .btn,
  #page-2 .btn,
  #page-3 .btn,
  #page-4 .btn,
  #page-5 .btn,
  #contact-page .btn,
  #page-2 a,
  #page-3 a,
  #page-4 a {
    padding: 0.4rem;
    font-size: 1rem;
  }
  .page .img {
    width: 80vw;
  }
  .page {
    padding: 0;
  }
}
@media (max-width: 450px) {
  #contact-page h1 {
    font-size: 2rem;
  }
  #contact-page .btn-contact {
    width: 40%;
  }
  #contact-page .contact-form,
  #page-5 {
    padding: 1rem;
  }
}

/*  img hover update */
